{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.eu-gb.bluemix.net",
      "Org": "akeeb.khan@hotmail.co.uk",
      "Space": "dev"
    },
    "Name": "MockServerACN",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}